@import "./src/styles.scss";
.navbar-custom{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    padding-top: 20px;
    .navbar-nav {
        li{
            margin-left: 15px;
            .nav-link{
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                color: #ffffff;
                cursor: pointer;
                &.active,
                &:hover{
                    color: #C9E265;
                }
            }
        }
        .dropdown-menu {
            a{
                font-size: 14px;
                line-height: 18px;
                color: #777;
                padding-top: 8px;
                padding-bottom: 8px;
                &.active,
                &:active{
                    color: #C9E265;
                    background-color: transparent;
                }
            }
        }
    }
}
.navbar-custom.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
.nav-right-bx{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.header-right-login{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.login-btn-right{
    position: relative;
    margin-left: 10px;
    a, span{
        font-size: 15px;
        color: #DEDEDE;
        font-weight: 400;
    }
    a:hover{
        color: #C9E265;
    }
    i{
        display: none;
    }
}

.login-btn-right span{
    margin:0 4px;
}
.right-icons{
    a{
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        margin-left: 5px;
        background-position: center;
        background-repeat: no-repeat;
        &.search-icon{
            background-image: url('../../assets/images/search-icon.png');
        }
        &.heart-icon{
            background-image: url('../../assets/images/heart-icon.png');
        }
    }
}
.profile-drpdown-btn{
    position: relative;
    display: inline-block;
    >a{
        padding: .5rem;
    }
    .dropdown-menu {
        margin: 0;
        left: inherit;
        right: 0;
        a{
            font-size: 15px;
            line-height: 18px;
            color: #777;
            padding-top: 8px;
            padding-bottom: 8px;
            &.active,
            &:active{
                color: #C9E265;
                background-color: transparent;
            }
        }
    }
}
@media only screen and (min-width : 992px) {
    .navbar-custom .dropdown:hover>.dropdown-menu {
        display: block;
    }
    .navbar-custom .dropdown-item:hover>.dropdown-menu {
        display: block;
    }    
}
@media only screen and (max-width:1199px){
    .navbar-custom {
        .navbar-nav {
            li{
                margin-left: 0;
                .nav-link{
                    font-size: 13px;
                }
            }
            .dropdown-menu {
               @include border-radius(0);
            }
        }
    }
    .header-right-login{
        a{
            font-size: 13px;
        }
    }
}
@media only screen and (max-width: 991px) {
    .navbar-custom{
        min-height: 94px;
        .navbar-nav {
            li{
                .nav-link{
                    font-size: 15px;
                }
            }
        }
    }
    .navbar-toggler {
        background: #ffffff;
    }
    #navbarNav{
        position: absolute;
        top: 86px;
        left: 0;
        background: #272727;
        width: 100%;
        z-index: 999;
    }
    .navbar-custom{
        .navbar-brand img{
            max-width: 120px;
        }
        .navbar-nav>li{
            margin-left: 0;
        }
        .navbar-nav .nav-link{
            padding: 15px;
            text-align: center;
        }
    }
    .navbar-light .navbar-toggler{
        order: 2;
    }
    .header-right-login{
        padding-left: 0;
        margin-left: 0;
        position: absolute;
        right: 70px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .navbar-custom .container{
        position: relative;
    }
    .login-btn-right{
        margin-bottom: 0;
        margin-left: 0;
    }
    .login-btn-right{
        span{
           display: none;
        }
        a{
            margin-left:15px;
        }
        i{
            font-size: 20px;
            color: #C9E265;
            display: inline-block;
        }
    }
    .account-drapdown-bx{
        a{
            margin-left:0;
        }
    }
    .profile-drpdown-btn{
       >a{
            span{
                display: none;
            }
       }
        .dropdown-menu {
            a{
                font-size: 15px;
                line-height: 18px;
                color: #777;
                padding-top: 8px;
                padding-bottom: 8px;
                &.active,
                &:active{
                    color: #C9E265;
                    background-color: transparent;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar-custom{
        min-height: 77px;
    }
    #navbarNav{
        top: 69px;
    }
    .navbar-custom{
        .navbar-brand img{
            max-width: 90px;
        }
    }
    
}
  