<footer class="ft-hold-wrapper">
    <div class="container">
        <div class="ft-top">
            <div class="row">
                <div class="col-md-12 col-lg-3">
                    <div class="ft-logo">
                        <a [routerLink]="['/home']"><img src="assets/images/logo.png" alt="Logo"></a>
                    </div>
                    <div class="ft-social-links">
                        <a href="javascript.void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="javascript.void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="javascript.void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-2 mrt-m-30">
                    <h4 class="ft-title">Links</h4>
                    <ul class="ft-links">
                        <li><a href="javascript.void(0)">Home</a></li>
                        <li><a  [routerLink]="['/about-us']" routerLinkActive="active">About us</a></li>
                        <li><a href="javascript.void(0)">Properties</a></li>
                        <li><a href="javascript.void(0)">Projects</a></li>
                        <li><a href="javascript.void(0)">Terms</a></li>
                        <li><a href="javascript.void(0)">Privacy</a></li>
                        <li><a href="javascript.void(0)" [routerLink]="['/contact-us']" routerLinkActive="active">Contact Us</a></li>


                    </ul>
                </div>
                <div class="col-md-12 col-lg-3 mrt-m-30">
                    <h4 class="ft-title">Scrum</h4>
                    <ul class="ft-links">
                        <li><a href="javascript.void(0)">Empirical Process Control</a></li>
                        <li><a href="javascript.void(0)">Self- Organization</a></li>
                        <li><a href="javascript.void(0)">Collaboration</a></li>
                        <li><a href="javascript.void(0)">Valuebased Prioritization</a></li>
                        <li><a href="javascript.void(0)">Time-boxing</a></li>
                        <li><a href="javascript.void(0)">Iterative Development</a></li>
                    </ul>
                </div>
                <div class="col-md-12 col-lg-4 mrt-m-30">
                    <h4 class="ft-title">Contact us now!</h4>
                    <p class="ft-info">Please feel free to contact us within working hours using information below. You can also submit your request via online form</p>
                    <ul class="ft-contact">
                        <li class="location-icon">7292 Dictum Av. San Antonio MI 47096</li>
                        <li class="call-icon">0123-456-789</li>
                        <li class="message-icon">Info@micasalux.com</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="ft-bottom">
            <p class="copyright-txt">Copyright © 2020 Micasalux All Right Reserved.</p>
        </div>
    </div>
</footer>
