<section class="inner-banner-2-wrap" style="background-image:url('assets/images/property-details-banner.png');">
  <div class="container">
    <h1>Contact Us</h1>
  </div>
</section>
<section>
  <div class="container">
    <div class="row my-5">
      <div class="col-md-7 have-project-bx">
        <div class="form-input-fields row">
          <mat-form-field class="col-md-4 custom-form-field">
              <mat-label>Your name*</mat-label>
              <input matInput>
          </mat-form-field>
          <mat-form-field class="col-md-4 custom-form-field">
                  <mat-label>Your email address*</mat-label>
                  <input matInput>
          </mat-form-field>
          <mat-form-field class="col-md-4 custom-form-field">
              <mat-label>Your phone*</mat-label>
              <input matInput>
          </mat-form-field>
          <mat-form-field class="col-md-4 custom-form-field">
              <mat-label>Company name</mat-label>
              <input matInput>
          </mat-form-field>
          <mat-form-field class="col-md-4 custom-form-field">
              <mat-label>Select Services</mat-label>
              <mat-select>
                  <mat-option value="option1">1</mat-option>
                  <mat-option value="option3">2</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-4 custom-form-field">
              <mat-label>Subject</mat-label>
              <input matInput>
          </mat-form-field>
          <mat-form-field class="col-md-12 custom-form-field">
              <mat-label>Your message*</mat-label>
              <textarea matInput></textarea>
          </mat-form-field>
          <div class="col-md-12">
              <button mat-button class="btn-sens-message">Send Message <i class="arrow-right" aria-hidden="true"></i></button>
          </div>
      </div>
        <!-- <form class="con-inf-det">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter subject">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter message"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
          </form> -->
    </div>
    <div class="col-md-5">
        

        <div class="con-info-detail">
            <div class="con-info-detail-con">
                
                <p class="cont-info">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>7292 Dictum Av. San Antonio MI 47096</span>
                </p>
                <p class="cont-info">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                        <a href="tel:+0123-456-789">0123-456-789</a>
                    </span>

                </p>
                <p class="cont-info">
                  <i class="fa fa-envelope-open" aria-hidden="true"></i>
                    <span>
                        <a href="mailto:info@micasalux.com">info@micasalux.com</a>
                    </span>
                </p>
                <p class="soil-info">
                    Shere Now
                    
                </p>
                <div class="ft-social-links">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </div>
            
        </div>
       
    </div>
    <div class="col-md-12 mt-4">
      <div class="map_div" id="map_canvas"></div>
    </div>
    </div>
  </div>
</section>
