<section class="inner-banner-2-wrap" style="background-image:url('assets/images/property-details-banner.png');">
  <div class="container">
    <h1>About Us</h1>
  </div>
</section>
<section>
  <div class="container">
    <div class="row my-5 a">
      <div class="col-md-5">
        <img src="{{getData?.image ? getData?.image : './assets/images/prt-mgt.jpg'}}" alt="" class="abt-img w-100">
      </div>
      <div class="col-md-7">
        <h2 class="mb-3">
          {{getData?.header}}
        </h2>
        <p *ngIf="getData?.content" [innerHTML]="getData?.content"></p>
        <p *ngIf="!getData?.content">
          Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web
          designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have
          scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins
          with:</p>

      </div>
    </div>
  </div>
</section>
