<section class="inner-banner-2-wrap" style="background-image:url('assets/images/property-banner.png');">
    <div class="container">
        <h1>Properties</h1>
    </div>
</section>

<section class="paddtb-80">
    <div class="container">
        <h2 class="p-header-title">Our Properties</h2>
        <!-- <div class="form-input-fields row" *ngIf="propertyList">
            <mat-form-field appearance="outline" class="col-lg-4 col-md-4 custom-form-field">
                <mat-label>Location</mat-label>
                <input type="text" [value]="searchData.property_location" matInput ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-lg-3 col-md-4 custom-form-field">
                <mat-label>Categories</mat-label>
                <mat-select [(ngModel)]="searchData.property_category">
                    <mat-option value="rent">Rent</mat-option>
                    <mat-option value="sale">Sale</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="col-lg-2 col-md-4">
                <button mat-button class="btn-savesearch btn-color" (click)="getPropertyList()">Save search</button>
            </div>
        </div> -->
        <ul class="property-item-ul" *ngIf="propertyList?.length">
            <li *ngFor="let item of propertyList;let i=index;">
                <div class="property-item">
                    <div class="fav-icon" *ngIf="!item.wishProperty" (click)="wishBtnClick(item._id,i)"></div>
                    <div class="fav-icon fav-redicon" *ngIf="item.wishProperty" (click)="removeWishBtnClick(item.wishProperty,i)"></div>
                    <!-- <div class="property-item-img" style="background-image:url('../assets/images/p-item-img-1.png')">
                        <div class="hover-effect">
                            <span class="plus-icon">+</span>
                        </div>
                    </div> -->
                    <div class="property-item-img" [ngStyle]="item.property_image | backgroundImage : item.property_image : 'assets/images/property-img-1.png' : 'small'">
                        <div class="hover-effect">
                            <span class="plus-icon">+</span>
                        </div>
                    </div>
                    <div class="property-item-info">
                        <h5 class="title" (click)="gotoPropertyDetails(item._id)">{{item.property_name}}</h5>
                        <p class="price">${{item.property_price}}</p>
                        <!-- <p>{{(item.excerpt | limitTo: 100) + (item.excerpt.length > 100 ? '...' : '')}}</p> -->
                        <div class="description-info">
                            <p>{{(item.property_description.length > 75) ? (item.property_description | slice:0:75)+'...' : item.property_description}} </p>
                        </div>
                        <div class="property-icons">
                            <div class="property-icons-item"><i class="icon bed-icon"></i><span>{{item.room_number}}</span></div>
                            <div class="property-icons-item"><i class="icon bathtub-icon"></i><span>{{item.bed_room_number}}</span></div>
                            <div class="property-icons-item"><i class="icon squre-icon"></i><span>{{item.property_sqft}} sqft</span></div>
                        </div>
                        <a href="javascript:void(0);" mat-button class="btn-viewdetails btn-color" (click)="gotoPropertyDetails(item._id)">View Details</a>
                    </div>
                </div>
            </li>
            <!-- <li>
                <div class="property-item">
                    <div class="fav-icon"></div>
                    <div class="property-item-img" style="background-image:url('../assets/images/p-item-img-2.png')">
                        <div class="hover-effect">
                            <span class="plus-icon">+</span>
                        </div>
                    </div>
                    <div class="property-item-info">
                        <h5 class="title">New York studio apartment</h5>
                        <p class="price">$5520.00</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu orci id justortey stuid... </p>
                        <div class="property-icons">
                            <div class="property-icons-item"><i class="icon bed-icon"></i><span>1</span></div>
                            <div class="property-icons-item"><i class="icon bathtub-icon"></i><span>2</span></div>
                            <div class="property-icons-item"><i class="icon squre-icon"></i><span>1120 sqft</span></div>
                        </div>
                        <a href="javascript:void(0);" mat-button class="btn-viewdetails btn-color" (click)="gotoPropertyDetails()">View Details</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="property-item">
                    <div class="fav-icon"></div>
                    <div class="property-item-img" style="background-image:url('../assets/images/p-item-img-3.png')">
                        <div class="hover-effect">
                            <span class="plus-icon">+</span>
                        </div>
                    </div>
                    <div class="property-item-info">
                        <h5 class="title">New York studio apartment</h5>
                        <p class="price">$5520.00</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu orci id justortey stuid... </p>
                        <div class="property-icons">
                            <div class="property-icons-item"><i class="icon bed-icon"></i><span>1</span></div>
                            <div class="property-icons-item"><i class="icon bathtub-icon"></i><span>2</span></div>
                            <div class="property-icons-item"><i class="icon squre-icon"></i><span>1120 sqft</span></div>
                        </div>
                        <a href="javascript:void(0);" mat-button class="btn-viewdetails btn-color" (click)="gotoPropertyDetails()">View Details</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="property-item">
                    <div class="fav-icon"></div>
                    <div class="property-item-img" style="background-image:url('../assets/images/p-item-img-4.png')">
                        <div class="hover-effect">
                            <span class="plus-icon">+</span>
                        </div>
                    </div>
                    <div class="property-item-info">
                        <h5 class="title">New York studio apartment</h5>
                        <p class="price">$5520.00</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu orci id justortey stuid... </p>
                        <div class="property-icons">
                            <div class="property-icons-item"><i class="icon bed-icon"></i><span>1</span></div>
                            <div class="property-icons-item"><i class="icon bathtub-icon"></i><span>2</span></div>
                            <div class="property-icons-item"><i class="icon squre-icon"></i><span>1120 sqft</span></div>
                        </div>
                        <a href="javascript:void(0);" mat-button class="btn-viewdetails btn-color" (click)="gotoPropertyDetails()">View Details</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="property-item">
                    <div class="fav-icon"></div>
                    <div class="property-item-img" style="background-image:url('../assets/images/p-item-img-5.png')">
                        <div class="hover-effect">
                            <span class="plus-icon">+</span>
                        </div>
                    </div>
                    <div class="property-item-info">
                        <h5 class="title">New York studio apartment</h5>
                        <p class="price">$5520.00</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu orci id justortey stuid... </p>
                        <div class="property-icons">
                            <div class="property-icons-item"><i class="icon bed-icon"></i><span>1</span></div>
                            <div class="property-icons-item"><i class="icon bathtub-icon"></i><span>2</span></div>
                            <div class="property-icons-item"><i class="icon squre-icon"></i><span>1120 sqft</span></div>
                        </div>
                        <a href="javascript:void(0);" mat-button class="btn-viewdetails btn-color" (click)="gotoPropertyDetails()">View Details</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="property-item">
                    <div class="fav-icon"></div>
                    <div class="property-item-img" style="background-image:url('../assets/images/p-item-img-6.png')">
                        <div class="hover-effect">
                            <span class="plus-icon">+</span>
                        </div>
                    </div>
                    <div class="property-item-info">
                        <h5 class="title">New York studio apartment</h5>
                        <p class="price">$5520.00</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu orci id justortey stuid... </p>
                        <div class="property-icons">
                            <div class="property-icons-item"><i class="icon bed-icon"></i><span>1</span></div>
                            <div class="property-icons-item"><i class="icon bathtub-icon"></i><span>2</span></div>
                            <div class="property-icons-item"><i class="icon squre-icon"></i><span>1120 sqft</span></div>
                        </div>
                        <a href="javascript:void(0);" mat-button class="btn-viewdetails btn-color" (click)="gotoPropertyDetails()">View Details</a>
                    </div>
                </div>
            </li> -->
        </ul>

        <div *ngIf="!propertyList?.length">
          <h2 style="text-align: center;">No Data Found !!!</h2>
        </div>
    </div>
</section>


