@import "./src/styles.scss";
body{
    background-color: #E5E5E5;
}
.remenberForgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    p{
        font-weight: 400;
        font-size: 16px;
        margin: 0px;
        color: #898989;
        cursor: pointer;
    }
}
.signin-radio-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    mat-radio-button{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 25px;
    }
}
.icon{
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 22px;
    height: 22px;
    &.email-icon{
        background-image: url('../../assets/images/email-icon.png');
        background-size: 20px;
    }
    &.lock-icon{
        background-image: url('../../assets/images/lock-icon.png');
        background-size: 17px;
    }
}
.login-social-icons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        display: inline-block;
        width: 46px;
        height: 46px;
        min-width: inherit;
        font-size: 20px;
        color: #ffffff;
        @include border-radius(50%);
        margin: 0 8px;
        padding: 0;
        line-height: 0;
        border: 0;
        text-align: center;
        &.facebook{
            background-color: #004AAD;
        }
        &.googleplus{
            background-color: #ff5722;
        }
        &:focus{
            outline: 0;
        }
    }
}

@media only screen and (max-width: 767px) {
    .remenberForgot{
        padding-top: 5px;
        padding-bottom: 5px;
        p{
            font-size: 15px;
        }
    }
    .signin-radio-btn{
        mat-radio-button{
            margin-left: 8px;
            margin-right: 8px;
            margin-bottom: 15px;
        }
    }
}
@media only screen and (max-width: 575px) {
    .remenberForgot{
        text-align: left;
        display: block;
        p{
            margin-top: 10px;
        }
    }
}