@import "./src/styles.scss";
.property-details-info{
    margin-top: 50px;
    h3{
        font-size: 30px;
        font-weight:600;
        color: #000000;
        margin-bottom: 10px;
    }
    h4{
        font-size: 20px;
        font-weight:600;
        color: #000000;
        margin-bottom: 10px;
        margin-top: 16px;
    }
    p{
        color: #717171;
        font-size: 16px;
        font-weight: 400;
        margin-top: 7px;
    }
}
.pd-bottom-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    .btn-p-cmn{
        font-size: 20px;
        font-weight: 600;
        font-family: $font-stack;
        text-align: center;
        @include border-radius(5px);
        line-height: 70px;
        min-width: 350px;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 20px;
    }
}
.btn-circleicons{
    position: relative;
    .btn-circleicon-cmn{
        display: inline-block;
        width: 70px;
        height: 70px;
        min-width: inherit;
        @include border-radius(50%);
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 20px;
        &:first-child{
            margin-left: 0;
        }
        &.calculator-icon{
            background-image: url("../../assets/images/calculator-icon.png");
            background-color: #004AAD;
        }
        &.comment-icon{
            background-image: url("../../assets/images/comment-icon.png");
            background-color: #C9E265;
        }
    }
}
.popbox-cmn{
    width: 380px;
    background: #FCFCFC;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    @include border-radius(5px);
    padding:50px 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: none;
    .x-mark-icon{
        background: url("../../assets/images/x-mark-icon.png") center no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
        cursor: pointer;
    }
    .btn-submit{
        font-size: 16px;
        font-weight: 400;
        font-family: $font-stack;
        text-align: center;
        width: 100%;
        @include border-radius(5px);
        line-height: 54px;
        &.btn-color-1{
            background-color: #000000;
        }
        &.btn-color-2{
            background-color: #C9E265;
        }
    }
}

@media only screen and (max-width: 991px) {
    .pd-bottom-section{
        display: block;
        text-align: center;
        .btn-p-cmn{
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    .btn-circleicons{
        .btn-circleicon-cmn{
            margin-left: 15px;
            margin-top: 15px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .pd-bottom-section{
        .btn-p-cmn{
            font-size: 16px;
            min-width: 280px;
            line-height: 56px;
        }
    }
    .btn-circleicons{
        .btn-circleicon-cmn{
            width: 56px;
            height: 56px;
            &.calculator-icon{
                background-size: 25px;
            }
            &.comment-icon{
                background-size: 35px;
            }
        }
    }
    .property-details-info{
        margin-top: 30px;
        h3{
            font-size: 24px;
        }
        h4{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
    }
    .popbox-cmn{
        width: inherit;
        left: 0;
    }
}
@media only screen and (max-width: 575px) {
    
}