@import "./src/styles.scss";
.property-details-info{
    margin-top: 50px;
    h3{
        font-size: 30px;
        font-weight:600;
        color: #000000;
        margin-bottom: 10px;
    }
    h4{
        font-size: 20px;
        font-weight:600;
        color: #000000;
        margin-bottom: 10px;
        margin-top: 16px;
    }
    p{
        color: #717171;
        font-size: 16px;
        font-weight: 400;
        margin-top: 7px;
    }
}

.sample-img {
    width: 100%;
    float: left;
    ul{
        margin: 0px;
        padding: 0px;
        width: 100%;
        float: left;
        
        li{
            display: none;
            img{
                width: 100%;
                
            }
float: left;
margin-bottom: 8px;
        &:nth-child(1){
            display: block;
            width: 70%;
            margin-right: 8px;
            img{
                height: 400px;
                object-fit: cover;
                object-position: center center;
            }

        }
        &:nth-child(2),  &:nth-child(3){
            display: block;
            width: calc(30% - 8px);
            img{
                height: 196px;
                object-fit: cover;
                object-position: center center;
            }
        }
        
    }
    }
}
.pd-bottom-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    .btn-p-cmn{
        font-size: 20px;
        font-weight: 600;
        font-family: $font-stack;
        text-align: center;
        @include border-radius(5px);
        line-height: 70px;
        min-width: 350px;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 20px;
    }
}
.btn-circleicons{
    position: relative;
    .btn-circleicon-cmn{
        display: inline-block;
        width: 70px;
        height: 70px;
        min-width: inherit;
        @include border-radius(50%);
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 20px;
        &:first-child{
            margin-left: 0;
        }
        &.calculator-icon{
            background-image: url("../../assets/images/calculator-icon.png");
            background-color: #004AAD;
        }
        &.comment-icon{
            background-image: url("../../assets/images/comment-icon.png");
            background-color: #C9E265;
        }
    }
}
.popbox-cmn{
    width: 380px;
    background: #FCFCFC;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    @include border-radius(5px);
    padding:50px 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: none;
    .x-mark-icon{
        background: url("../../assets/images/x-mark-icon.png") center no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
        cursor: pointer;
    }
    .btn-submit{
        font-size: 16px;
        font-weight: 400;
        font-family: $font-stack;
        text-align: center;
        width: 100%;
        @include border-radius(5px);
        line-height: 54px;
        &.btn-color-1{
            background-color: #000000;
        }
        &.btn-color-2{
            background-color: #C9E265;
        }
    }
}
.cont-info-details {
    border: 1px solid #f2f2f2;
    padding: 50px 16px;
    margin-top: 50px;
    .contact-details {
        text-align: center;
        font-size: 18px;
        p{
            margin-bottom: 10px;
            span{
                color: #C9E265;
                font-weight: 700;
            }
            a{
                color: #004AAD;
                font-weight: 700;
                padding-left: 16px;
            }
        }
    }
    button.btn.btn-block.bt-con{
        border: 2px solid #C9E265;
        color: #C9E265;
        font-size: 16px;
        font-weight: 600;
        padding: 12px;
        &:hover{
            border: 2px solid #004AAD;
            color: #004AAD;
        }
    }
    button.btn.btn-block.bt-maa{
        border: 2px solid #C9E265;
        color: #fff;
        background-color: #C9E265;
        padding: 12px;
        font-size: 16px;
        font-weight: 600;
        &:hover{
            border: 2px solid #004AAD;
            color: #fff;
            background-color: #004AAD;
        }
    }
}
.mark-comm-form{
    .modal-content {
        padding: 16px;
        h5{
            color: #004AAD;
        }
        .form-control {
            min-height: 56px;
            border-radius: 12px;
        }
        button.btn.btn-primary {
            width: 100%;
            padding: 14px;
            border-radius: 12px;
            border: 1px solid #C9E265;
            background: #C9E265;
        }
    }
}
section.inner-banner-2-wrap {
    min-height: 125px;
    height: 125px;
}
.for-count{
    position: relative;
    .count{
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        font-size: 20px;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 991px) {
    .pd-bottom-section{
        display: block;
        text-align: center;
        .btn-p-cmn{
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    .btn-circleicons{
        .btn-circleicon-cmn{
            margin-left: 15px;
            margin-top: 15px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .sample-img {
        ul{
            li{
            &:nth-child(1){
                img{
                    height: 200px;
                }
            }
            &:nth-child(2),  &:nth-child(3){
                img{
                    height: 96px;
                }
            }
        }
        }
    }
    .pd-bottom-section{
        .btn-p-cmn{
            font-size: 16px;
            min-width: 280px;
            line-height: 56px;
        }
    }
    .btn-circleicons{
        .btn-circleicon-cmn{
            width: 56px;
            height: 56px;
            &.calculator-icon{
                background-size: 25px;
            }
            &.comment-icon{
                background-size: 35px;
            }
        }
    }
    .property-details-info{
        margin-top: 30px;
        h3{
            font-size: 24px;
        }
        h4{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
    }
    .popbox-cmn{
        width: inherit;
        left: 0;
    }
}
@media only screen and (max-width: 575px) {
    
}