<section class="inner-banner-wrap">
  <div class="container"></div>
</section>

<section class="paddtb-80">
  <div class="container" *ngIf="subscriptionList">
      <div class="property-agent-item"  >
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Subscription Name</th>
              <th scope="col">Price</th>
              <th scope="col">Number Of property</th>
              <th scope="col">Image/Property</th>
              <th scope="col">Video/Property</th>
              <th scope="col">Start Date</th>
              <th scope="col">Expiry Date</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody >
            <tr>
              <th scope="row">{{subscriptionList?.duration}} Subscription</th>
              <td>{{subscriptionList?.price ? subscriptionList?.price : 0}}</td>
              <td>{{subscriptionList?.no_properties}}</td>
              <td>{{subscriptionList?.no_image}}</td>
              <td>{{subscriptionList?.no_video}}</td>
              <td>{{subscriptionList?.start_date | date:'mediumDate'}}</td>
              <td>{{subscriptionList?.expiry_date| date:'mediumDate'}}</td>
              <td>{{subscriptionList?.description}}</td>
            </tr>
          </tbody>
        </table>


      </div>

  </div>
  <div *ngIf="!subscriptionList">
    <h2 style="text-align: center;">No Data Found !!!</h2>
  </div>
</section>


