
<section class="inner-banner-2-wrap" style="background-image:url('assets/images/property-details-banner.png');">

</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-4 fliter-fr">
        <form>
          <div class="mb-3 fllis">
            <select class="form-control" aria-label="Default select example">
              <option selected>Agencies</option>
              <option value="1">Realtors</option>
              <option value="2">Architects</option>
              <option value="3">Developers</option>
            </select>
          </div>
          <!-- <div class="mb-3 fllis">
            <input type="search" class="form-control" id="exampleInputPassword1" placeholder="Search by location">
          </div> -->
          <!-- <div class="mb-3 fllis">
            <input type="search" class="form-control" id="exampleInputPassword1" placeholder="Search By name">
          </div> -->
        </form>
      </div>
      <div class="col-md-12">
        <div class="row" *ngIf="propertyList?.length">
          <div class="col-md-4 mb-3" *ngFor="let item of propertyList">
            <div class="popatry-ag">
              <a href="javscript:void();" [routerLink]="['/property-agent-details', item?._id]"><img src="{{item?.profile}}" alt=""></a>
              <h3 [routerLink]="['/property-agent-details', item?._id]">
                {{item?.FullName}}
              </h3>
              <p class="address">
                <small>
                  {{item?.Address}}
                </small>
              </p>
              <p class="des">
                {{item?.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
      
    <div *ngIf="!propertyList?.length">
      <h2 style="text-align: center; margin-bottom: 15px;">Data Not Found</h2>
      </div>

    </div>
  </div>
</section>
