

<section class="inner-banner-2-wrap" style="background-image:url('assets/images/property-details-banner.png');">
  <div class="container">

  </div>
</section>
<section>
  <div class="container">
    <div class="row my-4">
      <div class="col-md-3">
        <div class="popatry-ag">
          <img src="{{userAgetData?.profile}}" alt="">

        </div>

      </div>
      <div class="col-md-9 prt-ag-details">
        <h3 >
          {{userAgetData?.FullName}}
        </h3>
        <p class="lis-icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span> {{userAgetData?.Address}}</span>

        </p>
        <p class="lis-icon">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span> {{userAgetData?.Phone}}</span>

        </p>
        <p class="lis-icon">
          <i class="fa fa-envelope-open" aria-hidden="true"></i>
          <span>{{userAgetData?.Email}}</span>


        </p>
        <p class="des">
          {{userAgetData?.description}}
        </p>
      </div>
    </div>
    <div class="row my-4 Properties-list">
      <div class="col-md-12">
        <h2 class="p-header-title">
          Properties list
        </h2>
        <hr>

      </div>
    </div>
    <ul class="property-item-ul" *ngIf="propertyList?.length">
      <li *ngFor="let item of propertyList;let i=index;">
          <div class="property-item">
              <!-- <div class="fav-icon" *ngIf="!item.wishProperty" (click)="wishBtnClick(item._id,i)"></div>
              <div class="fav-icon fav-redicon" *ngIf="item.wishProperty" (click)="removeWishBtnClick(item.wishProperty,i)"></div> -->
              <!-- <div class="property-item-img" style="background-image:url('../assets/images/p-item-img-1.png')">
                  <div class="hover-effect">
                      <span class="plus-icon">+</span>
                  </div>
              </div> -->
              <div class="property-item-img" [ngStyle]="item.property_image | backgroundImage : item.property_image : 'assets/images/property-img-1.png' : 'small'">
                  <div class="hover-effect">
                      <span class="plus-icon">+</span>
                  </div>
              </div>
              <div class="property-item-info">
                  <h5 class="title" (click)="gotoPropertyDetails(item?._id)">{{item?.property_name}}</h5>
                  <p class="price">${{item?.property_price}}</p>
                  <!-- <p>{{(item.excerpt | limitTo: 100) + (item.excerpt.length > 100 ? '...' : '')}}</p> -->
                  <div class="description-info">
                      <p>{{(item?.property_description?.length > 75) ? (item?.property_description | slice:0:75)+'...' : item?.property_description}} </p>
                  </div>
                  <div class="property-icons">
                      <div class="property-icons-item"><i class="icon bed-icon"></i><span>{{item?.room_number}}</span></div>
                      <div class="property-icons-item"><i class="icon bathtub-icon"></i><span>{{item?.bed_room_number}}</span></div>
                      <div class="property-icons-item"><i class="icon squre-icon"></i><span>{{item?.property_sqft}} sqft</span></div>
                  </div>
                  <a href="javascript:void(0);" mat-button class="btn-viewdetails btn-color" (click)="gotoPropertyDetails(item._id)">View Details</a>
              </div>
          </div>
      </li>

  </ul>

  <div *ngIf="!propertyList?.length">
    <h2 style="text-align: center;">No Data Found !!!</h2>
  </div>
  </div>
</section>

