<section class="inner-banner-wrap">
    <div class="container"></div>
</section>

<section class="paddtb-80">
    <div class="container">
        <div class="cmn-form-wrapper">
            <h2>Forgot Password</h2>
        <form [formGroup]="forgetForm">
            <div class="row">
                <mat-form-field appearance="outline" class="col-md-12 custom-form-field">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="Email">
                    <mat-icon matSuffix class="email-icon icon"></mat-icon>
                    <mat-error *ngIf="submitted && f.Email.errors">
                        <mat-error *ngIf="f.Email.errors.required">Email is required</mat-error>
                        <mat-error *ngIf="f.Email.errors.email">Email must be a valid email address</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <button button mat-button class="submit-btn" (click)="submitForm()">Submit</button>
        </form>
        </div>
    </div>
</section>

